    
.dark-theme{
    background-color: #35284A;
    color: white;
}

.theme-center{
    text-align: center;
}

.theme-left{
    text-align: left;
}

.theme-right{
    text-align: right;
}

.display-none{
    display: none;
}

table {
    width: 100%;
}