    
.dark-theme{
    background-color: #221b2e;
    color: white;
}

.theme-center{
    text-align: center;
}

.theme-left{
    text-align: left;
}

.theme-right{
    text-align: right;
}

.display-none{
    display: none;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

table {
    width: 100%;
}