    
    .dark-theme{
        background-color: #35284A;
        color: #816F90;
    }

    .theme-center{
        text-align: center;
    }

    .display-none{
        display: none;
    }

    table {
        width: 100%;
    }