<mat-card class="login-card form-content">
    <div class="init">
        <div class="form-title">
            <p>Auth</p>
        </div>
        <div class="form-input">
            <input [(ngModel)]="Account" class="input-text" placeholder="帳號" title="帳號" required="required" autocomplete="off">
        </div>
        <div class="form-input">
            <input [(ngModel)]="Password"   type="password" maxlength="30" class="input-text" placeholder="密碼" title="密碼" required="required" typemode="text" allowempty="True" autocomplete="off" style="TEXT-TRANSFORM:uppercase;">
        </div>
        <div class="form-button">
            <br />
            <input (click) = "Login()" class="btn btn-default btn-Login " type="button" id="btn_Login" name="btn_Login" value="登入">
        </div>
    </div>
</mat-card>