<mat-card class="login-card">
    <div class="init">
        <div class="container">
            <div class="row text-center">
                <div class="container form-content">
                    <div class="row form-title">
                        <p>Auth</p>
                    </div>
                    <div class="row form-input">
                        <label for="textfield"></label>
                        <input [(ngModel)]="Account" class="input-text" placeholder="帳號" title="帳號" required="required" autocomplete="off">

                    </div>
                    <div class="row form-input">
                        <label for="textfield"></label>
                        <input [(ngModel)]="Password"   type="password" maxlength="30" class="input-text" placeholder="密碼" title="密碼" required="required" typemode="text" allowempty="True" autocomplete="off" style="TEXT-TRANSFORM:uppercase;">
                    </div>
                    
                    <div class="row form-button">
                        <br />
                        <input (click) = "Login()" class="btn btn-default btn-Login " type="button" id="btn_Login" name="btn_Login" value="登入">
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-card>