
<div class="container in550-1550 theme-center">
    <mat-card class="example-card">
        <mat-card-header>
          <mat-icon mat-card-avatar>assignment_ind</mat-icon>
          <mat-card-title>Your Role</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content class="theme-left container">
          <p>
          &nbsp;&nbsp;{{Role}}
          </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
        <mat-card-header>
          <mat-icon mat-card-avatar>supervisor_account</mat-icon>
          <mat-card-title>Your Group</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content class="theme-left container">
          <p *ngFor="let group of (Groups | async)" >
            &nbsp;&nbsp;{{group.name}}
          </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-header>
        <mat-icon mat-card-avatar>airplay</mat-icon>
        <mat-card-title>Authorize Program</mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content class="theme-left container">
        <p *ngFor="let program of (Programs | async)" >
          &nbsp;&nbsp;{{program.linkTag}}
        </p>
      </mat-card-content>
  </mat-card>
    
</div>


  