
<div class="container in550-1550 theme-center">
    <mat-card class="example-card">
        <mat-card-header>
          <mat-icon class="font-theme" mat-card-avatar>assignment_ind</mat-icon>
          <mat-card-title>Your Role</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content class="theme-left container">
          <p>
          &nbsp;&nbsp;{{ (role | async)?.remark }}
          </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
        <mat-card-header>
          <mat-icon class="font-theme" mat-card-avatar>supervisor_account</mat-icon>
          <mat-card-title>Your Group</mat-card-title>
        </mat-card-header>
        <mat-divider></mat-divider>
        <mat-card-content class="theme-left container">
          <p *ngFor="let group of (dashBoardGroups | async)"(click)="SetGroup(group)">
            <mat-icon class="font-theme" *ngIf="group.isActive">gps_fixed</mat-icon>
            &nbsp;&nbsp;{{group.name}}
          </p>
        </mat-card-content>
    </mat-card>

    <mat-card class="example-card">
      <mat-card-header>
        <mat-icon class="font-theme" mat-card-avatar>airplay</mat-icon>
        <mat-card-title>Authorize Program</mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content class="theme-left container">
        <p *ngFor="let groupPrograms of (groupPrograms | async)" >
          &nbsp;&nbsp;{{groupPrograms.linkTag}}
        </p>
      </mat-card-content>
  </mat-card>
    
</div>


  