@import '../../CSS/main.css';

@media screen and (max-width: 550px){
    mat-card.example-card {
        width: 100%;
    }
}

@media screen and (min-width: 550px) and (max-width: 1050px){
    .in550-1550 .example-card {
        width: 25%;
    }
}

.example-card {
    display: inline-block;
    width: 29%;
    margin-left: .1em;
    margin-right: .1em;
    vertical-align: top;
}
  
.container {
    margin: 3%;
}

.font-theme {
    color: #221b2e;
}
