<mat-toolbar class="toolbar-header dark-theme">
    <!-- <button mat-icon-button (click)="sideNav.toggle()">
        <mat-icon>{{ sideNav.opened ? 'close' : 'menu' }}</mat-icon>
    </button> -->
    <span>{{title}}</span>
  </mat-toolbar>
  
  <mat-sidenav-container class="toolbar-container">
    <mat-sidenav class="toolbar-sidenav">
         ...
    </mat-sidenav>
    <mat-sidenav-content>
      <a [routerLink]="['User']">User</a>&nbsp;
      <a [routerLink]="['Role']">Role</a>&nbsp;
      <a [routerLink]="['Group']">Group</a>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>