<mat-toolbar class="toolbar-header dark-theme">
    <button class="dark-theme" mat-icon-button (click)="sideNav.toggle()">
        <mat-icon>{{ sideNav.opened ? 'close' : 'menu' }}</mat-icon>
    </button>&nbsp;
    <span>{{title}}</span>
    <span class="toolbar-seprator"></span>
    <button class="dark-theme" mat-icon-button (click)="Logout()" >
      <mat-icon>exit_to_app</mat-icon>
    </button>
</mat-toolbar>
  
<mat-sidenav-container class="toolbar-container">
    <mat-sidenav #sideNav mode="side" class="dark-theme">
      <mat-nav-list>
        <a [routerLink]="['User']" mat-list-item class="dark-theme">User</a>
        <a [routerLink]="['Role']" mat-list-item class="dark-theme">Role</a>
        <a [routerLink]="['Group']" mat-list-item class="dark-theme">Group</a>
        <a [routerLink]="['Program']" mat-list-item class="dark-theme">Program</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>