<mat-toolbar class="toolbar-header dark-theme">
    <button class="dark-theme" mat-icon-button (click)="sideNav.toggle()">
        <mat-icon>{{ sideNav.opened ? 'close' : 'menu' }}</mat-icon>
    </button>&nbsp;
    <span [routerLink]="['Main']">{{title}}</span>
    <span class="toolbar-seprator"></span>
    <button class="dark-theme" mat-icon-button (click)="Logout()" >
      <mat-icon>exit_to_app</mat-icon>
    </button>
</mat-toolbar>
  
<mat-sidenav-container class="toolbar-container">
    <mat-sidenav #sideNav mode="side" class="dark-theme">
      <mat-nav-list>
          <a mat-list-item  *ngFor="let menu of menus" [routerLink]="[menu.link]" class="dark-theme">{{menu.name}}</a>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="theme-center">
      <span>Hello!!</span>
      <router-outlet></router-outlet>
    </mat-sidenav-content>

</mat-sidenav-container>