@import '../_shared/CSS/main.css';

@media screen and (max-width: 900px){
  mat-toolbar.toolbar-header {
    height: 2em;
  }
  mat-sidenav-container.toolbar-container{
    margin-top: 2em;
  }
}

.toolbar-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  height: 3em;
}

.toolbar-seprator {
  flex: 1 1 auto;
}

.toolbar-container{
  position: absolute;
  margin-top: 3em;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

