@import '../_shared/CSS/shared.css';

  .dark-theme{
    background-color: #35284A;
    color: #816F90;
  }

  .toolbar-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    height: 3em;
  }

  .toolbar-seprator {
    flex: 1 1 auto;
  }

  .toolbar-container{
    position: absolute;
    margin-top: 4%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
