@import '../../CSS/main.css';

tr.detail-row {
    height: 0;
    background-color: rgba(0,0,0,.12);
}

.element-detail {
    overflow: hidden;
    display: flex;
    padding-left: 2.4%;
    padding-right: 2.4%;
}
